.cabecalho{
    background-color: #D0D7DC;
    display: flex;
    justify-content: space-between;
}

.cabecalho img {
    width: 203px;
    height: 47px;
    justify-content: flex-start;
    margin-top: 20px;
}

.cabecalho .botoes{
    display: flex;
    align-items: center;
    margin: 4px 15px;
}


.cabecalho .botao-personalizado{
    color: black;
    background-color: transparent;
    border: none;
    padding: 0px 5px;
    margin: 15px 0px
}

.cabecalho .botoes i {
    font-size: 30px; 
    color: black; 
    transition: transform 0.2s ease-in-out;
}

.cabecalho .botao-personalizado i {
    font-size: 35px;
    color: black;
    background-color: transparent;
    border: none;
    padding: 0px 5px;
    margin: 15px 0px
}
